{% macro render_where_used(element_type, usage) %}
  {% set applications = usage.applications | default([]) if usage else [] %}
  {% set datasets = usage.datasets | default([]) if usage else [] %}
  {% set fields = usage.fields | default([]) if usage else [] %}
  {% set modules = usage.modules | default([]) if usage else [] %}
  {% set components = usage.components | default([]) if usage else [] %}
  <h2 class="govuk-heading-l govuk-!-margin-top-9">Where this is used</h2>
  {% if applications or datasets or fields or modules or components %}
  {% if applications %}
    <h3 class="govuk-heading-m">Application types</h3>
    <p class="govuk-body">This {{ element_type }} is used in {{ applications | length }} application type{% if applications | length != 1 %}s{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for application in applications %}
        <li>
          <a class="govuk-link" href="{{ application.href }}">{{ application.name or application.ref }}</a>
          {% if application.is_combined %}
            <span class="govuk-hint govuk-!-display-inline govuk-!-margin-left-1">Combined application type</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if datasets %}
    <h3 class="govuk-heading-m">Datasets</h3>
    <p class="govuk-body">This {{ element_type }} is used in {{ datasets | length }} dataset{% if datasets | length != 1 %}s{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for dataset in datasets %}
        <li><a class="govuk-link" href="{{ dataset.href }}">{{ dataset.name or dataset.ref }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if fields %}
    <h3 class="govuk-heading-m">Fields</h3>
    <p class="govuk-body">This {{ element_type }} is used in {{ fields | length }} field{% if fields | length != 1 %}s{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for field in fields %}
        <li><a class="govuk-link" href="{{ field.href }}">{{ field.name or field.ref }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if modules %}
    <h3 class="govuk-heading-m">Modules</h3>
    <p class="govuk-body">This {{ element_type }} is used in {{ modules | length }} module{% if modules | length != 1 %}s{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for module in modules %}
        <li>
          <a class="govuk-link" href="{{ module.href }}">{{ module.name or module.ref }}</a>
          {% if module.field_ref %}
            <span class="govuk-hint govuk-!-display-inline govuk-!-margin-left-1">(field: {{ module.field_ref }})</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if components %}
    <h3 class="govuk-heading-m">Components</h3>
    <p class="govuk-body">This {{ element_type }} is used in {{ components | length }} component{% if components | length != 1 %}s{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for component in components %}
        <li>
          <a class="govuk-link" href="{{ component.href }}">{{ component.name or component.ref }}</a>
          {% if component.field_ref %}
            <span class="govuk-hint govuk-!-display-inline govuk-!-margin-left-1">(field: {{ component.field_ref }})</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% else %}
    <p class="govuk-body">This {{ element_type }} is unused.</p>
  {% endif %}
{% endmacro %}
