{% extends "digital-land-frontend/layouts/base.jinja" %}

{% block pageTitle %}{{ page_title or "Planning application data standard" }}{% endblock %}

{% block headIcons %}{% endblock %}

{% block stylesheets %}
  <!-- GOV.UK Frontend is vendored with the static renderer so its version is reproducible. -->
  <link rel="stylesheet" href="{{ staticPath }}/vendor/govuk/govuk-frontend-6.4.0.min.css">
  <link rel="stylesheet" href="https://design.planning.data.gov.uk/static/stylesheets/vendor/accessible-autocomplete.css">
  <link rel="stylesheet" href="https://design.planning.data.gov.uk/static/stylesheets/vendor/moj-frontend.min.css">
  <!-- Local styles for this viewer -->
  <link rel="stylesheet" href="{{ staticPath }}/stylesheets/application.css">
{% endblock stylesheets %}

{% block header %}
{% block navBar %}
  {% include "components/site-navigation.html" %}
{% endblock navBar %}
{% endblock header %}

{% block beforeContent %}
  {% block app_phase_banner %}
    {% include 'components/phase-banner.html' %}
  {% endblock %}
  {% block app_breadcrumbs %}
    {% if not isHomepage %}
      {{ govukBreadcrumbs(breadcrumbs | default({
        'items': [
          {
            'text': "Home",
            'href': url_for("/")
          }
        ]
      })) }}
    {% endif %}
  {% endblock %}
{% endblock beforeContent %}

{% block contentWrapper %}
<div class="govuk-width-container">
  {% block content %}{% endblock content %}
</div>
{% endblock %}

{% block footerContent %}
  {% include 'components/site-footer.html' %}
{% endblock footerContent %}

{% block analyticScripts %}{% endblock analyticScripts %}


{% block govScripts %}
<script type="module">
  import { initAll } from "{{ staticPath }}/vendor/govuk/govuk-frontend-6.4.0.min.js";
  initAll();
</script>
{% endblock govScripts %}

{% block digitalLandScripts %}
<script src="https://design.planning.data.gov.uk/static/javascripts/digital-land-frontend.js"></script>
<script>
  window.DLFrontend.initAll();
</script>
{% endblock digitalLandScripts %}
