{% extends "base.html" %}

{% block app_breadcrumbs %}
  {{- govukBreadcrumbs(breadcrumbs | default({
    'items': [
      {
        'text': "Home",
        'href': url_for("/")
      },
      {
        'text': "Design decisions",
        'href': url_for("/design-decision")
      },
      {
        'text': decision.title
      }
    ]
  })) -}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Design decision</span>
    <h1 class="govuk-heading-xl">{{ decision.title }}</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Decision</dt>
        <dd class="govuk-summary-list__value">{{ decision.decision_id }}</dd>
      </div>
      {% if decision.status %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">{{ decision.status }}</dd>
      </div>
      {% endif %}
      {% if decision.date %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date</dt>
        <dd class="govuk-summary-list__value">{{ decision.date }}</dd>
      </div>
      {% endif %}
    </dl>

    <div class="app-prose">
      {{ decision.body | safe }}
    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l app-strong-section-break">

    <h2 class="govuk-heading-m">Help improve this design decision</h2>
    <p class="govuk-body">To help keep this design decision useful and up to date, you can raise feedback on GitHub.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="{{ decision.feedback_href }}">Raise feedback on GitHub for decision {{ decision.decision_id }}</a></li>
    </ul>
  </div>
</div>
{% endblock %}
