{% extends "base.html" %}
{% set primary_navigation_current = "view" %}

{% block app_breadcrumbs %}
  {{- govukBreadcrumbs({
    'items': [
      {
        'text': "Home",
        'href': url_for("/")
      },
      {
        'text': "Views",
        'href': url_for("/view/")
      },
      {
        'text': "National public view"
      }
    ]
  }) -}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl" id="top">National public view</h1>
    {% if specification_status %}
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-3">{{ specification_status | replace("-", " ") | capitalize }}</strong>
    {% endif %}
    <p class="govuk-body-l">The national public view sets out the planning application data that planning authorities are expected to publish as open data.</p>

    <p class="govuk-body">It includes every listed field for each included record, except that <code>development-scale</code> applies only to full and outline planning applications.</p>

    <p class="govuk-body">Find out more about the national public view:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body"><a class="govuk-link" href="{{ info_href }}">Find out how the national public view works</a></li>
      <li class="govuk-body"><a class="govuk-link" href="{{ raw_schema_href }}">View the raw schema on GitHub</a></li>
    </ul>

    <h2 class="govuk-heading-l">Datasets to publish</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for dataset in datasets %}
        <li><a class="govuk-link" href="{{ dataset.href }}">{{ dataset.name | capitalize }}</a>: {{ dataset.publishing_rule }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% for dataset in datasets %}
<div class="govuk-grid-row govuk-!-margin-top-8" id="{{ dataset.ref }}">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">{{ dataset.name | capitalize }}</h2>
    {% if dataset.description %}<p class="govuk-body-l">{{ dataset.description }}</p>{% endif %}
    {% if dataset.record_inclusion %}
      <div class="govuk-inset-text">
        <p class="govuk-body"><strong>Records to include:</strong> {{ dataset.record_inclusion.description }}</p>
      </div>
    {% else %}
      <p class="govuk-body">Publish all records in this dataset.</p>
    {% endif %}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header"><a class="govuk-link" href="{{ requirement_levels_href }}">Requirement level</a></th>
          <th scope="col" class="govuk-table__header">Data type and cardinality</th>
          <th scope="col" class="govuk-table__header">Related information</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for field in dataset.fields %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong><a class="govuk-link" href="{{ field.field_href }}">{{ field.name }}</a></strong>
              <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-0">(<code>{{ field.ref }}</code>)</p>
            </td>
            <td class="govuk-table__cell">
              {{ field.description }}
              {% if field.applicability %}<p class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ field.applicability }}</p>{% endif %}
            </td>
            <td class="govuk-table__cell"><code>{{ field.requirement_level or "Not specified" }}</code></td>
            <td class="govuk-table__cell"><code>{{ field.datatype }}</code><br>{{ field.cardinality }}</td>
            <td class="govuk-table__cell">
              {% if field.target_dataset %}Refers to the <a class="govuk-link" href="{{ field.target_dataset_href }}">{{ field.target_dataset }} dataset</a>.{% endif %}
              {% if field.codelist %}Allowed values are in the <a class="govuk-link" href="{{ field.codelist_href }}">{{ field.codelist }} codelist</a>.{% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="govuk-body govuk-!-margin-top-4"><a class="govuk-link" href="#top">Back to list of datasets</a></p>
  </div>
</div>
{% endfor %}
{% endblock %}
