{% extends "base.html" %}

{% block app_breadcrumbs %}
  {{- govukBreadcrumbs(breadcrumbs | default({
    'items': [
      {
        'text': "Home",
        'href': url_for("/")
      },
      {
        'text': "User needs",
      }
    ]
  })) -}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">User needs</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body">This index links to the current set of user needs so contributors can see the rationale behind the specification and spot gaps or overlaps.</p>
    <p class="govuk-body">Each need captures who the need serves, what they want to achieve, and why it matters for planning outcomes and downstream services.</p>
    <a class="govuk-button govuk-!-margin-bottom-4" href="https://github.com/digital-land/planning-application-data-specification/issues/new?template=new-requirement.yml">+ propose new need</a>
  </div>
</div>


<form hidden data-needs-search class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
    <label class="govuk-label govuk-!-font-weight-bold" for="filter-needs-list">Search user needs</label>
    <input class="govuk-input" id="filter-needs-list" name="list_filter" type="search" placeholder="For example, withdrawn">
  </div>
</form>
<noscript><p class="govuk-body">All needs are shown. Enable JavaScript to search and filter them.</p></noscript>
<p class="govuk-body" data-needs-count role="status" aria-live="polite">Showing {{ needs|length }} needs</p>
<div class="govuk-grid-row needs-list__wrapper">
  <div class="govuk-grid-column-one-third">
    <form hidden data-need-filters class="app-filter-panel govuk-!-margin-bottom-6" aria-labelledby="filter-needs-heading">
      <div class="app-active-filters-panel">
        <h2 class="govuk-heading-m" id="filter-needs-heading">Filter user needs</h2>
        <ul class="govuk-list" aria-label="Applied filters" data-selected-filters></ul>
        <button type="button" class="govuk-button govuk-button--secondary app-clear-filters" data-clear-filters>Clear filters</button>
      </div>
      <div class="app-filter-facets">
        {% for facet in facets %}
        <details class="govuk-details" {% if facet.name in ['scope', 'satisfaction'] %}open{% endif %}>
          <summary class="govuk-details__summary"><span class="govuk-details__summary-text">{{ facet.label }} (<span data-facet-count="{{ facet.name }}">0</span> selected)</span></summary>
          <div class="govuk-details__text">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-visually-hidden">{{ facet.label }}</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" {% if facet.options|length > 7 %}data-module="filter-checkboxes"{% endif %}>
                {% if facet.options|length > 7 %}
                <label for="options-{{ facet.name }}" class="govuk-label">Find {{ facet.label|lower }}</label>
                <input id="options-{{ facet.name }}" class="govuk-input dl-filter-group__auto-filter__input govuk-!-margin-bottom-3" aria-describedby="options-count-{{ facet.name }}">
                <span id="options-count-{{ facet.name }}" class="dl-filter-group__auto-filter__desc govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>
                {% endif %}
                {% for value, label in facet.options %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="{{ facet.name }}-{{ loop.index }}" type="checkbox" name="{{ facet.name }}" data-filter-name="{{ facet.name }}" value="{{ value }}">
                  <label class="govuk-label govuk-checkboxes__label" for="{{ facet.name }}-{{ loop.index }}">{{ label }}</label>
                </div>
                {% endfor %}
              </div>
            </fieldset>
          </div>
        </details>
        {% endfor %}
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-two-thirds">
    {% include 'components/needs-list.html' %}
    <p hidden class="govuk-body" data-no-needs>No user needs match your search and filters. Try changing your search or clearing filters.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-engagement-panel">
      <h3 class="govuk-heading-m">Want to suggest a new need or improvement?</h3>
      <p class="govuk-body">To help make sure we have good and useful needs, you can</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add evidence or challenge a user need in our list</li>
        <li><a href="https://github.com/digital-land/planning-application-data-specification/issues/new?template=new-requirement.yml" class="govuk-link">propose a new need on github</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block pageScripts %}
{{ super() }}
<script type="module">
  import NeedFilters from "{{ url_for('/static/javascripts/need-filters.js') }}";
  new NeedFilters(document.querySelector('[data-need-filters]')).init();
</script>
{% endblock %}
