{% extends "base.html" %}
{% set primary_navigation_current = "application-type" %}


{% block app_breadcrumbs %}
  {{- govukBreadcrumbs(breadcrumbs | default({
    'items': [
      {
        'text': "Home",
        'href': url_for("/")
      },
      {
        'text': "Application types",
        'href': url_for("/application-type")
      },
      {
        'text': title
      }
    ]
  })) -}}
{% endblock %}

{% block content %}

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full'>
    <span class="govuk-caption-xl">Application schema{% if base_type %} <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">Base type</strong>{% endif %}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-one-quarter'>
    <nav class="govuk-!-margin-bottom-6">
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#details">Details</a></li>
        <li><a class="govuk-link" href="#fields">Fields</a></li>
        <li><a class="govuk-link" href="#modules">Modules</a></li>
        <li><a class="govuk-link" href="#feedback">Feedback</a></li>
      </ul>
    </nav>
  </div>
  <div class='govuk-grid-column-three-quarters'>
  {% if description %}<p class="govuk-body-l">{{ description }}</p>{% endif %}
  <h2 class="govuk-heading-l govuk-!-margin-top-9" id="details">Details</h2>
  {% if base_type %}
  <div class="app-callout-box">
    <p class="govuk-body">
    This is a base-type schema. It defines common fields and modules that other application types can extend. It should not be used as a standalone application type.
    </p>
  </div>
  {% endif %}

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Application</dt>
      <dd class="govuk-summary-list__value"><code>{{ application }}</code></dd>
    </div>
    {% if application_types %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Application types</dt>
      <dd class="govuk-summary-list__value">
        {% for application_type in application_types %}
          <code>{{ application_type }}</code>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </dd>
    </div>
    {% endif %}
    {% if base_type %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Base type</dt>
      <dd class="govuk-summary-list__value"><code>true</code></dd>
    </div>
    {% endif %}
    {% if extends %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Extends</dt>
      <dd class="govuk-summary-list__value">
        <a class="govuk-link" href="{{ extends.href }}"><code>{{ extends.ref }}</code></a>
        <p class="govuk-body-s app-secondary-text govuk-!-margin-top-1">This means it inherits all modules from the {{ extends.ref }} base type application</p>
      </dd>
    </div>
    {% endif %}
    {% if synonyms %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Synonyms</dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          {% for syn in synonyms %}
            <li>{{ syn }}</li>
          {% endfor %}
        </ul>
      </dd>
    </div>
    {% endif %}
    {% if entry_date %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Entry date</dt>
      <dd class="govuk-summary-list__value">{{ entry_date }}</dd>
    </div>
    {% endif %}
    {% if legislation %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Legislation</dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list govuk-list--bullet">
          {% for l in legislation %}
            <li><a class="govuk-link" href="{{ l }}">{{ l }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    </div>
    {% endif %}
    {% if notes %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Notes</dt>
      <dd class="govuk-summary-list__value">{{ notes }}</dd>
    </div>
    {% endif %}
  </dl>

  {% if fields %}
    <h2 class="govuk-heading-l  govuk-!-margin-top-9" id="fields">Fields</h2>
    <p class="govuk-body">These fields are captured at application level before the application-specific modules.</p>
    <dl class="govuk-summary-list">
      {% for field in fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if field.ref == "submission-details" %}
              <a class="govuk-link" href="{{ url_for('/component/submission-details') }}">{{ field.name }}</a>
            {% else %}
              {{ field.name }}
            {% endif %}
            {% if field.inherited_from %}
              <p class="govuk-hint govuk-!-margin-bottom-1 app-callout-box--inline">Inherited from <code>{{ field.inherited_from }}</code></p>
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ field.description }}</p>
            <p class="govuk-hint govuk-!-margin-bottom-1">Reference: <code>{{ field.ref }}</code></p>
            {% if field.required is not none %}
              <p class="govuk-hint govuk-!-margin-bottom-0">Required: {{ field.required }}</p>
            {% endif %}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  {% if modules %}
    <h2 class="govuk-heading-l  govuk-!-margin-top-9" id="modules">Modules</h2>
    <p class="govuk-body">This application uses the following modules. Each module groups fields that collect a related set of information.</p>
    <ul class="govuk-list">
      {% for module in modules %}
      <li>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="{{ module.href }}">{{ module.name or module.ref }} ({{ module.ref }})</a>{% if module.inherited_from %}<span class="govuk-hint app-callout-box--inline govuk-!-margin-left-1">Inherited from <code>{{ module.inherited_from }}</code></span>{% endif %}</h4>
        {% if module.description %}<div class="govuk-hint">{{ module.description }}</div>{% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l app-strong-section-break">
  <h2 class="govuk-heading-l" id="feedback">Help to improve this application schema</h2>
  <p class="govuk-body">To help keep this application schema useful and up to date, you can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://github.com/digital-land/planning-application-data-specification/issues/new?title=[{{ application }}]%20Feedback%20on%20submission%20application%20schema">Raise feedback on GitHub</a></li>
    <li><a class="govuk-link" href="https://github.com/digital-land/planning-application-data-specification/edit/main/specification/application/{{ application }}.schema.md">Propose an edit on GitHub</a></li>
  </ul>
  </div>
</div>
{% endblock %}
