{% extends "base.html" %}
{% set primary_navigation_current = "view" %}

{% block app_breadcrumbs %}
  {{- govukBreadcrumbs({
    'items': [
      { 'text': "Home", 'href': url_for("/") },
      { 'text': "Views" }
    ]
  }) -}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Views</h1>
    <p class="govuk-body-l">Views define a purposeful selection of datasets, records and fields from the planning application data specification.</p>
    <p class="govuk-body">They support a particular use of the data described by the standard without changing the underlying data model.</p>

    <h2 class="govuk-heading-l">Available views</h2>
    {% for view in views %}
      <h3 class="govuk-heading-m"><a class="govuk-link" href="{{ view.href }}">{{ view.name }}</a></h3>
      <p class="govuk-body">{{ view.description }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
