<ul class="govuk-list" data-filter="list">
  {% for need in needs %}
  <li class="app-need-card--summary govuk-!-margin-bottom-6" data-need-item data-filter="item" data-scope="{{ need.scope }}" data-satisfaction="{{ 'full' if need.tag_label == 'Satisfied' else 'partial' if need.tag_label == 'Partially satisfied' else 'none' }}" data-theme='{{ need.themes | tojson }}' data-actor='{{ need.actors | tojson }}' data-reference="{{ need.id }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" data-filter="match-content">
        <h3 class="govuk-heading-s">{{ need.name }}</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">{{ need.statement }}</p>
      </div>
    </div>
    <div class="govuk-grid-row app-need-card__footer">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link govuk-link--no-visited-state app-link--mono" href="{{ need.href }}">{{ need.id }}</a>
        </h2>
      </div>
      <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
        <strong class="govuk-tag {{ need.tag_class }}">{{ need.tag_label }}</strong>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
