{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}

{% set phaseBannerContent %}
  This is a proof of concept viewer for the planning permission specifications - your
  <a
    class="govuk-link"
    href="https://github.com/digital-land/planning-application-data-specification/issues/new"
    target="_blank"
    rel="noopener noreferrer"
  >feedback</a>
  will help us to improve it.
{% endset %}

{{ govukPhaseBanner({
  'tag': {
    'text': "POC"
  },
  'html': phaseBannerContent,
  'classes': phaseBannerClasses | default('')
}) }}
