{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}

{{ govukServiceNavigation({
  "serviceName": "Planning application data standard",
  "serviceUrl": url_for("/"),
  "navigation": [
    {
      "href": url_for("/application-type/"),
      "text": "Application types",
      "current": primary_navigation_current == "application-type"
    },
    {
      "href": url_for("/dataset/"),
      "text": "Datasets",
      "current": primary_navigation_current == "dataset"
    },
    {
      "href": url_for("/data-model/"),
      "text": "Data model",
      "current": primary_navigation_current == "data-model"
    },
    {
      "href": url_for("/view/"),
      "text": "Views",
      "current": primary_navigation_current == "view"
    }
  ]
}) }}
